body {
    margin: 0;
    width: 100%;
    height: 100%;

    font-family: sans-serif;
}

.header {
    width: 100%;
    height: 8%;
    background-color: lightgray;
}

.header-text {
    color: grey;
    margin: 0;
}

.spiel {
    width: 100%;
    height: 92%;
}

.spielflaeche {
    width: 50%;
    height: 100%;

    float: left;
}

.kartenfelder {
    width: 50%;
    height: 100%;

    float: right;
}

.kartenfeld {
    width: 100%;
    height: 50%;

    overflow: scroll;
}

.kartenfeld-gegner {
    float: top;
    background-color: lightgray;
}

.kartenfeld-spieler {
    float: top;
    background-color: #eeeeee;
}

.karten {
    margin: auto;
    width: 100%;
}

.karte {
    width: 120px;
    height: 200px;

    background-color: white;
    border-radius: 16px;

    float: left;
    margin: 10px;

    padding: 20px 10px;

    box-shadow: rgba(0,0,0,0.25) 0 8px 20px -8px;

    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.karte-rot {
    border: solid 4px red;
}

.karte-gruen {
    border: solid 4px green;
}

.karte-blau {
    border: solid 4px blue;
}

.karte-gelb {
    border: solid 4px yellow;
}

.karte-ungueltig {
    opacity: 0.5;
}
