h1 {
font-size: 35px;
text-align: center;
padding: 0px;
margin: 0px;
}

p {
font-size: 20px;
text-align: center;
margin-top: 5px;
}

#wrapper {
text-align: center;
}

.choice {
margin-left: 20px;
}

#matchfield {

    text-align: center;
    border:solid;
   width: 100%;
   height: 500px;
   margin-top: 65px;
   padding-top: 85px;
}

.Card_0{
font-size: 75px;
border: solid;
margin-top: 50px;
padding: 5px;

}
